<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Songs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<nav>
    <ul>
        <li><a href="songs.html">Create New Song</a></li>
        <li><a href="song.html">Update a Song</a></li>
    </ul>
</nav>
<div>
    <div th:each="song : ${songs}">
        <div th:text="${song.id}"></div>
        <div th:text="${song.title}"></div>
        <div th:text="${song.length}"></div>
        <div th:text="${song.trackNumber}"></div>
    </div>

    <hr/>

    <div th:each="album : ${albums}">
        <div th:text="${album.id}"></div>
        <div th:text="${album.title}"></div>
    </div>

    <form action="/songs/create" method="post">
        <input type="text" name="title" placeholder="Title"/>
        <input type="number" name="length" placeholder="Song Length (in seconds)"/>
        <input type="number" name="trackNumber" placeholder="Track Number"/>
        <button type="submit">Create</button>
    </form>
</div>
</body>
</html>