<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Song</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <nav>
        <ul>
            <li><a href="songs.html">Create New Song</a></li>
            <li><a href="song.html">Update a Song</a></li>
        </ul>
    </nav>
    <form action="/songs/update" method="post">
        <input type="hidden" name="id" th:value="${song.id}" hidden/>
        <input type="text" name="title" placeholder="Title" th:value="${song.title}"/>
        <input type="number" name="length" placeholder="Length (in seconds)" th:value="${song.length}"/>
        <input type="number" name="trackNumber" placeholder="Track Number" th:value="${song.trackNumber}"/>
        <select name="location">
            <option th:each="album : ${albums}"
                    th:text="${album.title}"
                    th:value="${album.id}"
                    th:selected="${song.album.id==album.id}"></option>
        </select>
        <button type="submit">Create</button>
    </form>
</div>
</body>
</html>